<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/bolt.ico" rel="icon">

  <title>Portfolio</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Experience</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
          <li><a href="./static/assets/Akash_More_Resume-3.pdf" title="">05 : Download CV</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : About me</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>Who am i?</h3>
<!--                  <div class="text">
                  "I'm Akash, and I like "
                  <span class="typing-2">Coding</span>
                  <span class="typed-cursor">|</span>
                  </div> -->
                  <p>I'm Akash, a proud Red Hatter working as a Technical Support Engineer at Red Hat, where I work extensively with OpenShift ecosystem. Bringing over <span id="exp"></span>+ years of experience across Linux, OpenShift, Python and Bash scripting. I enjoy automating day-to-day task using Python and Bash scripting, troubleshooting complex issues and resolving customer challenges efficiently. I'm passionate about exploring modern technologies, cloud computing, software development and DevOps practices.
                  </p>
<!--                   <h3> </h3> -->
                 <p>
                    
                    What I love the most about working in IT field is that the field has so many diverse functions. We have to handle lots of unique problems and edge cases from tinkering with different systems and issue while collaborating with other teams. I am always learning something new, so it's really hard to get bored. </p>
                  <h3>Hobbies</h3> 
                  <p>
                  I like Music, swimming, sketching, video games</p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <img src="./static/assets/images/my_pic.jpeg" class="img-responsive" alt="">
                </div>
              </div>
            </div>
          </div>
          
          
       </div>
      </div>
    </div>
  </div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const doj = new Date("2020-01-13"); // <-- set your Date of Joining 1st company
    const today = new Date();

    let exp = today.getFullYear() - doj.getFullYear();
    const monthDiff = today.getMonth() - doj.getMonth()
    if (
      monthDiff < 0 ||
      (monthDiff === 0 && today.getDate() < doj.getDate())
    ) {
      exp--;
    }

    document.getElementById("exp").textContent = exp;
  });
</script>

<script type="text/javascript" src="./static/main.70a66962.js"></script>

</body>
</html>